newyork.rar
/urban.rar
/aaa.rar
/comparison-duration.pdf
/comparison-straightness.pdf
/difference-vs-density.pdf
/difference-vs-links.pdf
/difference-vs-nodes.pdf
/duration-vs-density.pdf
/duration-vs-links.pdf
/duration-vs-nodes.pdf
/overall_stats.txt
/overall_stats.txt.ods
/straightness-vs-density.pdf
/straightness-vs-links.pdf
/straightness-vs-nodes.pdf
